$color-bg-dark: #f6f6f6;
$color-bg-light: white;
$color-text-header: #888;
$color-text-heading: #555;
$color-text-heading-dark: #333;
$color-profile-img-bg: #EEE;
$color-border-light: #ccc;
$font-size-header: 2.2rem;
$font-size-p: 1.2rem;
$font-size-small: 0.9rem;

$tablet-width: 768px;
$desktop-width: 1024px;
